/examples/
/first_try3/
/first_try4/
/first_try5/
/first_try6/
/first_try7/
/first_try8/
/first_try9/
/first_try10/
/first_try11/
/first_try12/
/first_try13/
/first_try14/
/first_try15/
/first_try16/
/first_try17/
/first_try18/
/first_try19/
/first_try20/
/tello_pics/
/DetectShapes/pics/
/DetectShapes/pics_from_1658831841451/
/DetectShapes/pics_from_mp4/
/DetectShapes/shapes_and_colors/
